<ion-content [fullscreen]="true">
  <div class="header">
  <ion-icon name="arrow-back-outline" [routerLink]="['/dashboard']"></ion-icon>
</div>
  <div class="top-container">
    <ion-label>Assign Buses</ion-label>
  </div>
  <div>
    <ion-card class="form">
      <div class="form-group">
        <!-- <label>Residence:</label> -->
          <ion-select [(ngModel)]="residence" label="Residence:" name="from-to" placeholder="Select Residence">
            <ion-select-option value="MUT - Lonsdale">MUT - Lonsdale</ion-select-option>
            <ion-select-option value="MUT - Beach Hotel">MUT - Beach Hotel</ion-select-option>
            <ion-select-option value="MUT - Seaboard">MUT - Seaboard</ion-select-option>
            <ion-select-option value="MUT - WaterFront">MUT - WaterFront</ion-select-option>
            <ion-select-option value="MUT - Melody hills">MUT - Melody hills</ion-select-option>
            <ion-select-option value="MUT - Corner House">MUT - Corner House</ion-select-option>
            <ion-select-option value="Lonsdale - MUT">Lonsdale - MUT</ion-select-option>
            <ion-select-option value="Beach Hotel - MUT">Beach Hotel - MUT</ion-select-option>
            <ion-select-option value="Seaboard - MUT">Seaboard - MUT</ion-select-option>
          </ion-select>
      </div>
      <div class="form-group">
        <ion-input label="Bus Number" type="number" fill="solid" [(ngModel)]="busNumber"></ion-input>
      </div>
      <div class="form-group">
        <ion-input label="Total seats:" type="number"  [(ngModel)]="totalSeats"></ion-input>
      </div>
      <div class="form-group">
          <ion-select [(ngModel)]="time" label="Choose Time:" name="time" placeholder="Select Time">
            <ion-select-option value="07:00">07:00</ion-select-option>
            <ion-select-option value="08:00">08:00</ion-select-option>
            <ion-select-option value="09:00">09:00</ion-select-option>
            <ion-select-option value="10:00">10:00</ion-select-option>
            <ion-select-option value="10:30">10:30</ion-select-option>
            <ion-select-option value="12:00">12:00</ion-select-option>
            <ion-select-option value="12:30">12:30</ion-select-option>
            <ion-select-option value="14:00">14:00</ion-select-option>
            <ion-select-option value="15:00">15:00</ion-select-option>
            <ion-select-option value="17:00">17:00</ion-select-option>
            <ion-select-option value="19:00">19:00</ion-select-option>
            <ion-select-option value="21:00">21:00</ion-select-option>
          </ion-select>
      </div>
    </ion-card>
    <ion-button (click)="submitBus()">{{ buttonText }}</ion-button>

  </div>
</ion-content>
