<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>all-buses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="header-content">
        <ion-title size="large">MUT to Lonsdale</ion-title>
        <ion-title size="large">10:00 - 10:30</ion-title>
      </div>
    </ion-toolbar>
  
   
    <nav class="navbar">
      <ul>
        <li><a href="#">Available 12</a></li>
        <li><a href="#">Booked 32</a></li>
        <li><a href="#">Total 44</a></li>
      </ul>
    </nav>
  </ion-header>
  
  

 
<ion-label>Bookings</ion-label>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mr W.C Khumalo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
   Student Number: 22022011 <br>
   Time: 10:00 <br>
   Bus Booked: 1708

    </ion-card-content>
  
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mr W.C Khumalo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
   Student Number: 22022011 <br>
   Time: 10:00 <br>
   Bus Booked: 1708

    </ion-card-content>
  
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mr W.C Khumalo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
   Student Number: 22022011 <br>
   Time: 10:00 <br>
   Bus Booked: 1708

    </ion-card-content>
  
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mr W.C Khumalo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
   Student Number: 22022011 <br>
   Time: 10:00 <br>
   Bus Booked: 1708

    </ion-card-content>
  
  </ion-card>


  
</ion-content>
