<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>All Buses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="header-content">
        <ion-title size="large">Bus</ion-title>
        <ion-title size="large">10:00 - 10:30</ion-title>
      </div>
    </ion-toolbar>

    <nav class="navbar">
      <ul>
        <li><a href="#">Available 12</a></li>
        <li><a href="#">Booked 32</a></li>
        <li><a href="#">Total 44</a></li>
      </ul>
    </nav>
  </ion-header>

  <ion-label>Bookings</ion-label>
  <ion-card *ngFor="let bus of busData">
    <ion-card-header>
      <ion-card-title> Student Number: {{ bus.studentNumber }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br>
      Time: {{ bus.time }} <br>
      Bus Booked: {{ bus.busNumber }}
    </ion-card-content>
  </ion-card>
</ion-content>
