
<ion-content>
<div class="login-container">

<img src="assets/logo.png" alt="App Logo" class="logo">
<div class="login">
<h3>Welcome to Our Bus Application</h3>
<h3>Log-In Page</h3>

<ion-label>Username</ion-label>
<ion-input type="text" [(ngModel)]="email"></ion-input>
<ion-label>Password</ion-label>
<ion-input type="password" [(ngModel)]="password"></ion-input>
<ion-button expand="full" (click)="login()">Login</ion-button>
<ion-button expand="full"(click)="signUp()">Register</ion-button>
<div class="links">
<span>Forgot Password?</span><a href="/forgotpassword" (click)="forgotPassword()">Click Here</a>
</div>
</div>
</div>
</ion-content>
