<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Today</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-label>Today</ion-label>
  <ion-card>
    <ion-card-header>
      <ion-card-title>MUT - Lonsdale     <span>10:00</span></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The bus to Lonsdale hotel  will be 10
 minutes late  due to traffic on free way
    </ion-card-content>
  
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>MUT - Lonsdale     <span>10:00</span></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The bus to Lonsdale hotel  will be 10
 minutes late  due to traffic on free way
    </ion-card-content>
  
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>MUT - Lonsdale     <span>10:00</span></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The bus to Lonsdale hotel  will be 10
 minutes late  due to traffic on free way
    </ion-card-content>
  
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>MUT - Lonsdale     <span>10:00</span></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The bus to Lonsdale hotel  will be 10
 minutes late  due to traffic on free way
    </ion-card-content>
  
  </ion-card>
</ion-content>
