
<ion-content Fullscreen="true">
  <div class="login-container">
  
  <img src="assets/logo.png" alt="App Logo" class="logo">
  <div class="login">
    <h2 style="text-align:center">Forgot Password</h2>
  <h3>USE YOUR EMAIL ADDRESS SO THAT THE RESET PASSWORD LINK WILL BE SENT TO YOU EMAIL.</h3>

  <ion-label>Email</ion-label>
  <ion-input type="text" [(ngModel)]="username"></ion-input>

  <ion-button expand="full" (click)="signup()">Submit</ion-button>

  <ion-button expand="full" href="/login">Login</ion-button>
  </div>
  </div>
  </ion-content>