
<ion-content [fullscreen]="true">
  <div class="image">
    <h5>
      Ticket Booked
    </h5>

  </div>
  <div class="main-container">
   
    <ion-label>Student Number: </ion-label> <ion-label> {{ studentNumber }} </ion-label><hr/>
    <ion-label>Name: </ion-label>  <ion-label>{{ studentName }} </ion-label><hr/>
    <ion-label>Surname:  </ion-label> <ion-label>{{ studentSurname }} </ion-label><hr/>
    <ion-label>From:  </ion-label> <ion-label> {{ fromTime }}  </ion-label> <hr/>
    <ion-label> To: </ion-label> <ion-label> {{ toTime }} </ion-label><hr/>
    <ion-label>Message: </ion-label> <ion-label> {{ message }} </ion-label><hr/>

  </div>


</ion-content>