

<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />

<ion-content fullscreen color="light">
<div class="search_container">
  <div class="div-header">
    <ion-icon name="arrow-back-outline" [routerLink]="['/login']"></ion-icon>
    <h3 class="time">{{ currentTime }}</h3>
    <div>
      <ion-icon name="megaphone-outline" (click)="presentAlert()"></ion-icon>

        <ion-icon name="menu-outline" slot="end"></ion-icon>
    </div>
</div>
   <div class="s_container">
<ion-item class="item-for-search">
  <ion-icon 
    [name]="searchQuery ? 'close-outline' : 'search-outline'" 
    (click)="searchQuery ? clearSearch() : null"
    class="icon"
  ></ion-icon>
  <ion-input 
    [(ngModel)]="searchQuery" 
    (ionInput)="onSearch()" 
    for="search" 
    class="search_input" 
    name="search" 
    placeholder="Search"
  ></ion-input>
</ion-item>
</div>
<div class="location">
  <ion-select [(ngModel)]="location" placeholder="Select Location" label="Pick Up Point:" (ngModelChange)="onChange($event)">
    <ion-select-option value="Seme-Hall">Seme Hall</ion-select-option>
    <ion-select-option value="North Campus">North Campus</ion-select-option>
    <ion-select-option value="Main Campus Gate">Main Campus Gate</ion-select-option>
  </ion-select>
  
</div>
</div>
<div class="my-container">

  <ion-card class="resident-buses" *ngFor="let bus of buses$ | async"  (click)="navigate(bus)">


<div class="first-half">
  <div class="left-container">
<img src="/assets/bus.png" alt="">
  </div>
  <div class="right-container">
      <p>{{ bus.residence }}</p>
      <span>next: {{ bus.time }}</span><br/>
      <h6><span>Bus Number</span> <span style="float:right;padding-right:30px;">{{ bus.busNumber }}</span></h6>
      <h6><span>Pick Up Point</span> <span style="float:right;padding-right:30px;">{{location}}</span></h6>
  </div>
</div>
<div class="second-half">
  <div>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
  </div>
<span>{{ bus.totalSeats }} seats left</span>

</div>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="floating-button" [routerLink]="['/add-bus']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <!-- <ion-button class="floating-button">Add</ion-button> -->
</div>
</ion-content>