



<ion-item class="header">
  <ion-icon name="arrow-back-outline" [routerLink]="['/login']"></ion-icon>

  <ion-label style="font-weight: bold;color:black">{{ userData.fullName }}</ion-label>
  <ion-icon name="notifications-outline" (click)="navigateToNotifications()" slot="end"></ion-icon>
   </ion-item>
<ion-content fullscreen color="light">
<div class="search_container">
    <h3 class="time">{{ currentTime }}</h3>
<ion-item class="item-for-search">
  <ion-icon 
    [name]="searchQuery ? 'close-outline' : 'search-outline'" 
    (click)="searchQuery ? clearSearch() : null"
    class="icon"
  ></ion-icon>
  <ion-input 
    [(ngModel)]="searchQuery" 
    (ionInput)="onSearch()" 
    for="search" 
    class="search_input" 
    name="search" 
    placeholder="Search"
  ></ion-input>
</ion-item>
<br/>
<br/>
</div>
<div class="my-container">
<!-- card 1------------------------------------------- -->
<ion-card class="resident-buses" *ngFor="let bus of buses$ | async" (click)="navigateTobooking(bus)">
    <div class="first-half">
      <div class="left-container">
    <img src="/assets/bus.png" alt="">
      </div>
      <div class="right-container">
          <p>{{ bus.residence }}</p>
          <span>next: {{ bus.time }}</span><br/>
          <h6><span>Bus Number</span> <span style="float:right;padding-right:30px;">{{ bus.busNumber }}</span></h6>
          <h6><span>Location</span> <span style="float:right;padding-right:30px;">Seme Hall</span></h6>
      </div>
    </div>
    <div class="second-half">
      <div>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
      </div>
    <span>{{ bus.totalSeats }} seats left</span>
    
    </div>
      </ion-card>
<!-- card 1------------------------------------------- -->






</div>
</ion-content>