



<ion-item class="header">
  <ion-icon name="arrow-back-outline" [routerLink]="['/login']"></ion-icon>

    <ion-icon name="notifications-outline" slot="end"></ion-icon>
</ion-item>
<ion-content fullscreen color="light">
<!-- <ion-card class="container"></ion-card> -->



<div class="search_container">
    <h3 class="time">{{ currentTime }}</h3>
    <!-- <br/> -->
<ion-item class="item-for-search">
    <ion-icon name = "search-outline"></ion-icon>
    <ion-input for="search" class="search_input" name="search" placeholder="Search"></ion-input>
</ion-item>
<br/>
<br/>
</div>
<div class="my-container">
<!-- card 1------------------------------------------- -->
<ion-card class="resident-buses" *ngFor="let bus of buses$ | async" [routerLink]="['/book']">
    <div class="first-half">
      <div class="left-container">
    <img src="/assets/bus.png" alt="">
      </div>
      <div class="right-container">
          <p>{{ bus.residence }}</p>
          <span>next: {{ bus.time }}</span><br/>
          <h6><span>Bus Number</span> <span style="float:right;padding-right:30px;">{{ bus.busNumber }}</span></h6>
          <h6><span>Location</span> <span style="float:right;padding-right:30px;">Seme Hall</span></h6>
      </div>
    </div>
    <div class="second-half">
      <div>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
      </div>
    <span>{{ bus.totalSeats }} seats left</span>
    
    </div>
      </ion-card>
<!-- card 1------------------------------------------- -->






</div>
</ion-content>