<ion-content [fullscreen]="true">
  <div class="image">
    <h5>
      Booked Ticket
    </h5>

  </div>
  <div class="main-container" *ngFor="let bus of busData">
   
    <ion-label>Student Number: </ion-label> <ion-label> {{ bus.studentNumber }} </ion-label><hr/>
    <ion-label>Name: </ion-label>  <ion-label>{{ bus.fullName }} </ion-label><hr/>
    <ion-label>Email:  </ion-label> <ion-label> {{ bus.email }}</ion-label><hr/>
    <ion-label> Time: </ion-label> <ion-label> {{ bus.time }} </ion-label><hr/>
    <ion-label>Route: </ion-label>  <ion-label>{{ bus.residence }} </ion-label><hr/>
    <ion-label>Bus Booked:  </ion-label> <ion-label> {{ bus.busNumber }}</ion-label><hr/>
    <ion-label>Message:  </ion-label> <ion-label> {{ bus?.message }}</ion-label><hr/>
    <ion-button fill="block" style="margin-bottom:10px;color:red;display: flex;justify-content: center;align-items:center;" color="danger"  (click)='presentAlert(bus?.id)'><ion-icon name="trash-outline"></ion-icon>Cancel Booking</ion-button>
  </div>
</ion-content>