<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Bookings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>Bookings</ion-label>
  <ion-card class="main-container" *ngFor="let bus of busData">
    <ion-card-header>
      Student Number: {{ bus.studentNumber }}
    </ion-card-header>
    <ion-card-content>
      
      Time: {{ bus.time }} <br>
      Bus Booked: {{ bus.busNumber }}
    </ion-card-content>
  </ion-card>
</ion-content>
